html, body, .container {height: 100%;}
 
  body{
      background-image: url(/modx/assets/images/ice.jpg);
  }
  
  body div.container {
      padding: 0;
  }
  
  #content{
      background-image: url(/modx/assets/images/text_bckg_seamless.jpg);
      margin-top: 13.8mm;
      min-height: 100%;
      border-radius: 5px 5px 10px 10px;
      border: 1px solid #044f97;
      
  }
  
  .page-header {
      background-repeat: no-repeat;
      background: #9e639c; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#fefbfd, #9e639c); /* Standard syntax */
      
      border-radius: 4px;
      border: 1px solid #044f97;
      margin: 0;
      height: 46mm;
  }
  #page-header-left-img{
      position: absolute;
      z-index: 1;
      width: 95mm;
      height:44mm;
      background-color: transparent;
      background-image: url(/modx/assets/images/header_img_3.png);
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  #page-header-right-img{
      position: absolute;
      right: 27mm;
      top: 0mm;
      z-index: 1;
      width: 32.5mm;
      height:50mm;
      background-color: transparent;
      background-image: url(/modx/assets/images/header_right_img1.png);
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .page-header h2 {
      color: black;
      font-family: 'Lobster', helvetica, arial;
      margin-top: 0;
      text-decoration: underline;
      margin-left: 25mm;
  }
  .page-header h1 {
      margin-left: 25mm;
      color: blue;
      font-size: 72px;
      font-family: 'Lobster', helvetica, arial;
      text-shadow: 2px 2px 2px #d60e0e,
        3px 3px 3px blue;
      
  }
#slider-background {
    background-image: url(/modx/assets/images/old-photos-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 715px;
    height: 500px;
    padding-top:4%;
    padding-right: 4%;
    margin: 0 auto;
}
#slider{
    background-color: transparent;
}
  #slider-wrapper{
      background: transparent;
      margin-left: auto;
      margin-right: auto;
  }
  
  #footer{
      background: brown;
      margin-top: 1px;
      min-height: 6%;
      border-radius: 7px;
      border: 1px solid #044f97;
  }